@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import "./sass/form.scss";
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
